.product {
  width: 300px;
  height: 440px;
  border: 1px solid #95a0a7;
  border-radius: 8px;
  position: relative;
}
.product img {
  width: 286px;
  height: 286px;
  border-radius: 8px;
  margin: 8px 7px 0px 7px;
}

.product-name {
  display: inline-block;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.0015em;
  color: #0e161a;
  margin: 12px 19px 11px 14px;
}

.product-price {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.0015em;
  color: #0e161a;
  margin-top: 0px;
  margin-left: 14px;
  text-transform: capitalize;
}

.product-btn {
  width: 100%;
  background: #ffe0b3;
  border: none;
  border-radius: 0px 0px 8px 8px;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.product-btn:hover {
  background-color: orange;
}
